body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  color: #3292a6;
  background-color: white;
  opacity: 0.9;
  padding: 1.75rem; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url(../img/mountains.jpg);
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #ddd; }

#authors img {
  margin-top: -50px;
  border-radius: 50%; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fab {
    color: white; }


.card-header > h5 {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 2rem;
  }

  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
