.navbar {
    box-shadow: 2px 2px 5px #343a40;
    color: #3292a6;
    background-color: white;
    opacity: 0.9; }
    .navbar .nav-item {
      font-size: 1.4rem;
      padding-right: 1.6rem; }

#navbar-main {
  width: 100%;
  transition: padding-top .2s, padding-bottom .2s;
}

.navlink--about {
  cursor: pointer;
}

.navbar-main__scrolling  {
  -webkit-padding-top: .25rem !important;
  -webkit-padding-bottom: .25rem !important;
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

.navbar--logo {
  margin-left: 15px;
}

.navbar-collapse {
  margin-right: 60px;
}

.navbar-left {
  margin-left: 60px;
}

.navbar-left > img {
  height: 50px;
  width: auto;
}

.nav-item {
  padding-left: 1.6rem !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 767px){
  #navbar-main {
    /* padding-bottom: 1.5rem !important; */
  }


}