.navbar {
    box-shadow: 2px 2px 5px #343a40;
    color: #3292a6;
    background-color: white;
    opacity: 0.9; }
    .navbar .nav-item {
      font-size: 1.4rem;
      padding-right: 1.4rem; }

#navbar-main {
  width: 100%;
}

.navlink--about {
  cursor: pointer;
}

@media screen and (max-width: 767px){
  #navbar-main {
    padding-bottom: 1.9rem !important;
  }
}