.products--header {
    color: black;
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

.products--header-text {
    color: rgba(50, 146, 166, 0.8);
}

.products--cards {
    justify-content: space-evenly;
}

.products--card {
    padding: 0 !important;
    margin: 0 1px 20px 1px;
}

.products--card-body {
    display: flex;
    justify-content: space-evenly;
}

.products--buttons {
    width: 90px;
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd; }


.pagination-buttons--container {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    justify-content: center;
}

.pagination-buttons {
    width: 100px;
    margin: 0 20px;
}

.pagination-buttons--link:hover,
.pagination-buttons--link:active {
    text-decoration: none;
    color: #fff;
}

.loading {
    margin-bottom: 100px;
}