#showcase {
    position: relative;
    margin-top: 98px;
    background: url(../resources/cs-go.jpg);
    min-height: 600px;
    background-position: 50% 20%;  }
    #showcase .primary-overlay {
      background: #343a40;
      opacity: .8;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }


.showcase--main-container {
  transform: translateY(60px);
}

@media screen and (max-width: 450px) {
  #showcase {
    margin-top: 87px;
  }
}