.products--card-title {
    margin-bottom: 0 !important;
}

.products--card-body {
    flex-direction: column;
    justify-content: flex-start; 
}

.products--card-body--header {
    /* position: absolute;
    top: 5%;
    left: 25%; */
}

.products--card-image {
    height: auto;
    cursor: pointer;
}

.products--card-image-holder {
    background: url(../resources/skin-background.webp);
    overflow: hidden;
}

.products--card-image-holder + hr {
    margin-top: 0;
}

.products--card-list {
    margin-bottom: 8px !important;
}

.products--card-image + hr {
    margin-bottom: 0;
}

.products--card-footer {
    display: flex;
    justify-content: space-around;
}

